#schedule-output-container .table .tag_main,
#schedule-output-container .table .tag_operations {
	display: none;
}

#schedule-output-container .table tr {
	cursor: pointer;
}

#schedule-output-container .table td:nth-child(1) {
	width: 70%;
}

#schedule-output-container .table td:nth-child(2) {
	width: 13%;
}

#schedule-output-container .table td:nth-child(3) {
	width: 17%;
}