#schedule-output-container .table .tag_main,
#schedule-output-container .table .tag_operations {
	display: none;
}

#schedule-output-container .table tr {
	cursor: pointer;
	font-size: 1.15em;
}

#schedule-output-container .table td:nth-child(1) {
	width: 70%;
	vertical-align: middle;
}

#schedule-output-container .table td:nth-child(2) {
	width: 13%;
	vertical-align: middle;
}

#schedule-output-container .table td:nth-child(3) {
	width: 17%;
	vertical-align: middle;
}

.striped {
	background: rgba(255,255,255,.9);
}

#schedule-output-container .table .registrationEvent,
#schedule-output-container .table .conOpsEvent {
	color: white;
}

#schedule-output-container .table .registrationEvent .event-tag-container,
#schedule-output-container .table .conOpsEvent .event-tag-container {
	display: none;
}

#schedule-output-container .event-tag-container {
	margin-left: 0.3em;
}

#schedule-output-container .event-tag-container .label {
    vertical-align: 0.1em;
}

#schedule-output-container .separator-mobile {
	display: none;
}

#schedule-output-container .separator-desktop {
	display: inline;
}

@media only screen and (max-width: 60em) {
	#schedule-output-container .event-tag-container {
		display: block;
		margin-left: 0em;
		margin-top: 0em;

	}

	#schedule-output-container .event-tag-container .label {
		display: inline-block;
		height: 100%;
		padding: 0.5em;
		margin-top: 0.25em;
	}

	#schedule-output-container .table td:nth-child(1) {
		width: 55%;
	}
	
	#schedule-output-container .table td:nth-child(2) {
		width: 28%;
	}

	#schedule-output-container .separator-mobile {
		display: inline;
	}

	#schedule-output-container .separator-desktop {
		display: none;
	}
}
